[Unit]
Description=V2Ray Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=v2ray
Group=v2ray
PIDFile=/run/v2ray.pid
ExecStart=/usr/bin/v2ray -config /etc/v2ray/config.json
Restart=on-failure

# Don't restart in the case of configuration error
RestartPreventExitStatus=23
# After unexpected exit, upload latest V2Ray log to official log service for future analysis.
# ExecStopPost=/usr/bin/v2ray/upload.sh

[Install]
WantedBy=multi-user.target
